/* You can add global styles to this file, and also import other style files */
@use "./styles/variables" as *;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  position: relative;
  margin: 0;
  color: $color-white;
  background-color: $color-body-2;
}
